html {
    background-color: #282828
}
#primaryButton {
    background: linear-gradient(60deg, #ef5350, #e53935);
}
#primaryText {
    color: #e53935;
    font-weight: bold
}
#secondaryButton {
    border-color: linear-gradient(60deg, #ef5350, #e53935);    
}
#prueba {
    width: 100
}
div.css-vj8t7z {
    /* width: 300px !important */
}
#divPrueba {
    padding-top: -100 !important
}
#appBar 
{
    /* background-color: #282828 */
    background-color: #353535
}
#botones 
{
    background-color: #3f51b5;
    
}
.MuiTypography-body1-74 {

    color: "white" !important
}

#dialogContentMessage {
    padding: 100
}

#bgLogin {
    background-color: "#3f51b5"
}

#mainDiv {
    overflow: hidden;
}

#buttonText {
    color: "white"
}

#footer {
    color: "blue"
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: white !important
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353535; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }